
body {
    background-image: url();
    background-repeat: repeat;
    background-attachment: scroll;
}

header {
    background:#ffffff;
    border: #cccccc;
    border-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 100%;
    margin-bottom: 20px;
}

.myName {
    text-align: center;
    color: #ffffff;
    width: 30%;
    padding: 20px;
    background: #4aaaa5;
}

ul {
    float: right;
    padding: 20px;
    margin-top: 10px;
    list-style-type: initial 
}

li {
    display: inline;
}

section {

}